html {
  font-size: 10px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  @include font (1.6rem, 1.6rem, normal);
  @extend %font-text;
  color: $color-black;
  background-color: $color-black;
}

.none {
  display: none;
}