html {
  font-size: 10px;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  @include font (1.6rem, 1, 500, normal);
  @extend %font-text;
  color: $color-white;
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.main-background {
  background-image: url(../assets/background/backgroud-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.none {
  display: none;
}