.footer {
  padding: 30px 40px 18px;

  &__wrapper {
    display: flex;
    justify-content:  space-between;
    align-items: center;
  }

  &__rss {
    display: block;
    width: 85px;
    height: 31px;
    background-image: url(../assets/svg/rs_school_js.svg);
    background-repeat: no-repeat;
  }

  &__container {
    display: flex;
    gap: 60px;
    align-items: center;
  }

  &__link {
    font-size: 1.6rem;
    transition: 0.5s ease-out;

    &:hover {
      color: $color-active;
    }
  }
}