.header {
  padding-top: 30px;
  padding-right: 70px;

  &__wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__settings {
    display: block;
    background-image: url(../assets/svg/settings.svg);
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
  }
}